.main__btn {
    padding: 10px 70px;
    background: #d90102;
    border: 1px solid #d90102;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
}
.progress-bar {
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    display: flex;
    align-items: center;
}
.progress-container {
    background: #ff0000;
    display: block;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    span {
        padding: 5px;
        background: #ff4040;
        width: 90%;
        display: block;
        border-radius: 10px;
    }
}
